<div class="image-preview" *ngIf="personModel">
    <img [src]="personModel.imageUrl" alt="image-preview" *ngIf="!image">
</div>

<div class="image-preview" *ngIf="image">
    <img [src]="image" alt="image-preview">
</div>

<form class="add-form" [formGroup]="addPersonForm" (ngSubmit)="onSubmit()" *ngIf="personModel">
    <mat-form-field class="add-form">
        <input matInput placeholder="Image URL" [formControl]="urlFormControl" required [value]="personModel.imageUrl" [(ngModel)]='image'>
        <mat-error *ngIf="urlFormControl.hasError('url') && !urlFormControl.hasError('required')">
            Please enter a valid URL address
        </mat-error>
        <mat-error *ngIf="urlFormControl.hasError('required')">
            Image URL is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="add-form">
        <input matInput placeholder="Name" [formControl]="nameFormControl" required [value]="personModel.name">
        <mat-error *ngIf="!nameFormControl.hasError('required')">
            Please enter a valid Name
        </mat-error>
        <mat-error *ngIf="nameFormControl.hasError('required')">
            Name is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="add-form">
        <input matInput placeholder="Age" [formControl]="ageFormControl" required type="number" [value]="personModel.age">
        <mat-error *ngIf="(ageFormControl.hasError('min') || ageFormControl.hasError('max')) && !ageFormControl.hasError('required')">
            Please enter a valid Age
        </mat-error>
        <mat-error *ngIf="ageFormControl.hasError('required')">
            Age is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="add-form">
        <mat-label>Role</mat-label>
        <mat-select [formControl]="roleFormControl" required [value]="personModel.role">
            <mat-option *ngFor="let role of roles" [value]="role">
                {{role}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="roleFormControl.hasError('required')">Please choose an role</mat-error>
    </mat-form-field>

    <button [disabled]="addPersonForm.invalid" mat-raised-button color="primary" type="submit">Submit</button>
</form>