<kendo-grid
[data]="view | async"
[loading]="view.loading"
[pageSize]="state.take"
[skip]="state.skip"
[sort]="sort"
[sortable]="{
    allowUnsort: allowUnsort,
    mode: 'single'
}"
[pageable]="true"
[scrollable]="'none'"
[resizable]="true"

(sortChange)="onSortChange($event)"
(dataStateChange)="onDataStateChange($event)"
>

<kendo-grid-column field="name" title="Name" width="120"></kendo-grid-column>
<kendo-grid-column field="age" title="Age" width="100"></kendo-grid-column>
<kendo-grid-column field="role" title="Role"width="100"></kendo-grid-column>
<kendo-grid-column field="imageUrl" title="Image"></kendo-grid-column>


<!-- <kendo-grid-column *ngFor="let col of columns" [field]="col.field"></kendo-grid-column> -->
</kendo-grid>
