<mat-sidenav-container class="example-container" (backdropClick)="close()">
    <mat-sidenav #sidenav (keydown.escape)="close()" disableClose>
        <p>
            <button mat-icon-button (click)="close()">
                <mat-icon>close</mat-icon>
            </button>
        </p>
        <p>
            <a mat-button routerLink="/">
                <mat-icon>people</mat-icon> People Grid
            </a>
        </p>

        <p>
            <a mat-button routerLink="/table-view">
                <mat-icon>table_chart</mat-icon> Table View
            </a>
        </p>
        <p>
            <a mat-button routerLink="/add">
                <mat-icon>add</mat-icon>Add
            </a>
        </p>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-header [sidenav]="sidenav"></app-header>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>