/* form {
    text-align: center;
}

.mat-form-field-empty.mat-form-field-label {
    color: var(--primary-color);
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    background: var(--primary-color);
}

.mat-form-field-appearance-legacy .mat-form-field-label {
    color: var(--primary-color);
}

.mat-raised-button[disabled] {
    color: var(--primary-color);
} */
